@import "utils";
@import "fonts";
@import "typography";

@import "./utils/mixins";

$color-red: #cd4d31;
$color-white: #f1f5f4;
$bgColor: #3f5252;
$color-black: #1c1b29;
$color-gray: #504f5e;

.page {
  font-family: Releway, serif;
  font-weight: 400;

  &__body {
    margin: 0;
  }

  &__header {
    background-color: $bgColor;
  }
}

.header {
  &__content {
    height: 100vh;
    padding: 20px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onDesktop {
      justify-content: flex-start;
    }
  }

  &__date {
    display: block;
    font-size: 14px;
    line-height: 140%;
    color: $color-white;
  }

  &__name-of-art {
    display: block;
    font-family: PlayfairDisplay, serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: $color-white;

    @include onTablet {
      font-size: 72px;
    }

    @include onDesktop {
      font-size: 96px;
    }
  }

  &__description {
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: $color-white;
  }

  &__button {
    display: block;
    padding: 22px 84px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: $color-white;
    background-color: $color-red;
    text-align: center;
  }

  &__photo-container {
    margin: 0 auto;

    @include onDesktop {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__photo {
    width: 245px;
    height: 273px;

    @include onTablet {
      width: 443px;
      height: 494px;
    }

    @include onDesktop {
      width: 625px;
      height: 663px;
    }
  }
}

.icon {
  height: 22px;
  width: 22px;

  @include onTablet {
    height: 30px;
    width: 30px;
  }

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);
  }

  &--language {
    display: none;
    width: max-content;
    align-items: center;
    
    @include onTablet {
      display: flex;
      gap: 3px;
    }
  }

  &--ua {
    width: 23px;
    height: 24px;
    background-image: url(../images/ua.svg);
  }

  &--drop-down {
    width: 8px;
    height: 5px;
    background-image: url(../images/dropdown.svg);
  }
}

.logo {
  &__image {
    display: flex;
    width: 123px;
    height: 40px;
  }
}

.top-menu {
  display: grid;
  grid-template-columns: 1fr 22px;
  align-items: center;

  @include onTablet {
    grid-template-columns: 1fr 30px 34px;
    column-gap: 40px;
  }
}

.container {
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 40px;
  }

  @include onDesktop {
    padding: 0 55px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &--tabDesk {
    display: block;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start to 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &--tab-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desk-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}

.margin-bottom {
  @for $index from 0 through 200 {
    &--#{$index} {
      @include onMobile {
        margin-bottom: #{$index}px;
      }
    }

    &--tab-#{$index} {
      @include onTablet {
        margin-bottom: #{$index}px;
      }
    }

    &--desk-#{$index} {
      @include onDesktop {
        margin-bottom: #{$index}px;
      }
    }
  }
}
